*{
    margin: 0;
}
.navbar {

    display: flex;
    flex-direction: row;
    column-gap: 10px;
    padding: 5px;
    justify-content: right;
}
.navitem{
    color: black;
    border: thin solid;
    border-radius: 5px;
    width: 8%;
    display: flex;
    justify-content: center;
    background-color: aqua;
}
.img{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: lightblue;
}
img {
    border-radius: 10px;
    width: 60%;
    height: 70%;
}
footer {
    margin-top: 20px;
    text-align: center;
    padding: 3px;
    background-color: black;
    color: white;
}
footer a{
    color: white;
}
