.title{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.title h1{
    color: black;
    font-weight: bolder;
}
.title h1:hover{
    color: blue;
    font-weight: bolder;
    text-decoration:underline;
}
.avatar{
    display: flex;
    justify-content: center;
}
.user{
    display: flex;
    justify-content: center;
    margin-top: 2%;
}
.user input{
    margin-left:2%;
    border-radius: 5px;
    border: 1px solid white;
    background-color: rgb(197, 196, 196);
}
.user button{
    margin-left:2%;
    border: 1px solid blue;
    border-radius: 25px;
    color: white;
    background-color: blue;
    width: 3%;
}
.profile{
    display: flex;
    justify-content: center;
    margin-top: 1%;
}
.profile input{
    margin-left:2%;
    border-radius: 5px;
    border: 1px solid white;
    background-color: rgb(197, 196, 196);
}
.profile button{
    margin-left:2%;
    border: 1px solid blue;
    border-radius: 15px;
    color: white;
    background-color: blue;
    width: 3%;
}
.phone{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.phone_input{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.phone_input input{
    margin-left:2%;
    border-radius: 5px;
    border: 1px solid white;
    background-color: rgb(197, 196, 196);
    width: auto;
    height: 25px;
}
.phone_input button{
    margin-left:2%;
    border: 1px solid blue;
    border-radius: 15px;
    color: white;
    background-color: blue;
    width: 4%;
}
.parent{
    display: flex;
    justify-content: center;
    margin-top: 1%;
}
.parent table{
    width: 1000px;
    border-radius: 10px;
    display: table-column-group;
}

.parent th{
    width: 300px;
    height: 30px;
    border: 3px solid rgb(196, 196, 196);
    background-color: rgb(196, 196, 196);
}
.parent td{
    width: 300px;
    height: 30px;
    padding-left: 150px;
    background-color: white;
}